{% extends "webapp/navbar.html" %}
{% load static %}
{% load tags %}
<!-- This page now imports the navbar from the template... -->
{% block head %}
{% endblock head %}

{% block body %}
    <div class="container-fluid text-body text-center px-0 ">
        <div class="card p-2" id="searchResultCard" >
            <div class="row">
                <div class="col-6 mr-2"> <!-- Filtering Side of the Card -->
                    <div class="row">
                        <div class="col-5"> <!-- Popularity -->
                            <form class="form-inline" name="filterFormGenre" action="" method="get">
                                <p class="text-center"> Month </p>
                                <select class="form-control btn-warning p-1" name="date"> 
                                   <option>01</option>
                                   <option>02</option>
                                   <option>03</option>
                                   <option>04</option>
                                   <option>05</option>
                                   <option>06</option>
                                   <option>07</option>
                                   <option>08</option>
                                   <option>09</option>
                                   <option>10</option>
                                   <option>11</option>
                                   <option>12</option>
                                   <input class="form-control btn-warning p-1 ml-1" type="submit" value="Apply">
                                </select>
                            </form>  
                        </div> <!-- End popularity -->
                        <div class="col-5"> <!-- Genre -->
                            <form class="form-inline" name="filterFormGenre" action="" method="get">
                                <p class="text-center"> Starting Time </p>
                                <select class="form-control btn-warning p-1" name="time"> 
                                    <option>18:00:00</option>
                                    <option>19:00:00</option>
                                    <option>20:00:00</option>
                                    <option>21:00:00</option>
                                    <option>22:00:00</option>
                                    <option>23:00:00</option>
                                    <input class="form-control btn-warning p-1 ml-1" type="submit" value="Apply">
                                </select>
                            </form>
                        </div> <!-- End Genre -->
                        <div class="col-2">
                            <p style="color: white"> t </p>
                            <button class="btn-warning form-control" onclick="window.location.href ={% url 'webapp-concerts' %}">Clear</button>
                        </div>
                    </div> <!-- End filtering row -->
                </div> <!-- End Filtering Side of card -->
                <div class ="col-6">
                    <!-- Sorting Options go here!!!!-->
                </div>
             </div>
         </div>
    </div>
    <div class="container-fluid">
        <h1 class="pt-5 pb-5 text-center font-weight-bold">{{model_name}}</h1> <!-- Pass in model_name during context and it will display! -->

        <!-- Start of instance cards -->
        <div class="row mr-2 ml-2">
            {% for instance in concerts %}
                <div class="col-4  mb-4">
                    <a href="{{instance.concertName}}">
                    <div class="card text-body">
                        <div class="card-header font-weight-bold display text-center">
                            <!-- Insert the link to the instance here? -->
                            {{ instance.concertName }}
                        </div>
                        <!-- Instance Image, still need to figure out how to handle this... -->
                        <img class="card-img" style="height: 400px;" src="{{ instance.imageURL}}" alt= {{ instance.imageLink }}>
                        <!-- At least 3 attributes -->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex align-items-start">
                                <span><b>Date:  </b> {{ instance.date }}</span>
                            </li>
                            <li class="list-group-item d-flex align-items-center">
                                <span><b>Headliner:  </b> 
                                        {{ instance.headliner }}
                                </span>
                            </li>
                            <li class="list-group-item d-flex align-items-center">
                                <span><b>City:</b> {{ instance.city }}</span>
                            </li>
                        </ul>
                    </div> <!-- End of card -->
                    </a>
                </div> <!-- End of Col Div -->
            {% endfor %}
        </div> <!-- End of the row div -->
        <!-- END OF THE GRID -->

        <!-- Search, filter and pagination features go here -->
        <div class="card-footer text-muted mx-5">
            <div class="pagination justify-content-center">
                {% if concerts.has_previous %}
                    <a class="page-link" href="?{% url_replace request 'page' 1 %}">&laquo; first</a>
                    <a class="page-link" href="?{% url_replace request 'page' concerts.previous_page_number %}">previous</a>
                {% endif %}

                {% if concerts.has_next %}
                    <a class="page-link" href="?{% url_replace request 'page' concerts.next_page_number %}">next</a>
                    <a class="page-link" href="?{% url_replace request 'page' concerts.paginator.num_pages %}">last &raquo;</a>
                {% endif %}
                <br>
                <p class="current ml-5">
                       Page {{ concerts.number }} of {{ concerts.paginator.num_pages }}.
                </p>
            </div>
        </div>
    </div> <!--End of fluid container -->
{% endblock body %}
