{% extends "webapp/navbar.html" %}
{% load static %}
<!-- This page now imports the navbar from the template... -->
{% block head %}
{% endblock head %}

{% block body %}
    <h2 style="margin-left: 3%;">Upcoming Concerts</h2>
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="carousel-item active" onclick="location.href='./Alan-Ancira-Event.html'">
          <img class="concert-carousel-img" src="../imgs/AlanAncira.jpg" alt="ACL Music Festival">
        </div>

        <div class="carousel-item" onclick="location.href='post-malone-event.html'">
          <img class="concert-carousel-img" src="../imgs/Post-Malone-Show.jpg" alt="Austin">
        </div>

        <div class="carousel-item" onclick="location.href='./kesha-event.html'">
          <img class="concert-carousel-img" src="../imgs/Kesha-Concert.jpg" alt="Austin Music Awards">
        </div>
      </div>

      <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <h4 style="margin:50px;" >Events the week of 3-2</h4>
        <div class="container" onclick="location.href='./Alan-Ancira-Event.html'">
            <img src="../imgs/AlanAncira.jpg" alt = "AlanAncira" style="width: 90px">
             <p><span> Alan Ancira</span> March 6th, 2020</p>
        <p>St. Edwards University</p>
    </div>
   

    <h4 style="margin:50px;" >Events the week of 3-8</h4>
            <div class="container" onclick="location.href='post-malone-event.html'">
        <img src = "../imgs/post_malone_concert.jpg" alt="post_malone_concert" style="width: 90px">
            <p><span> Post Malone</span> March 10th, 2020</p>
            <p>Frank Erwin Center</p>
    </div>
        <h4 style="margin:50px;" >Events next month</h4>

        <div class="container" onclick="location.href='./kesha-event.html'">
        <img src = "../imgs/kesha_show.jpg" alt="kesha_show" style="width: 90px">
            <p><span> Kesha</span> April 26th, 2020</p>
            <p>Austin City Limits Live</p>
    </div>
{% endblock body %}
