{% extends "webapp/navbar.html" %}
{% load static %}
<!-- This page now imports the navbar from the template... -->
{% block head %}
{% endblock head %}

<script> 
    //THIS SCRIPT CURRENTLY DOES NOTHING!
    function search() {
        // var input, filter, div, element, a, i, txtValue;
        // input = document.getElementById('searchBar');
        // filter = input.value.toUpperCase();
        // div = document.getElementById("list-tab");
        // element = div.getElementsByTagName('a');

        // // Loop through all list items, and hide those who don't match the search query
        // for (i = 0; i < element.length; i++) {
        //     txtValue = element[i].innerHTML; //Get text of the element
        //     if (txtValue.toUpperCase().indexOf(filter) > -1) {
        //         element[i].style.display = ""; //Show
        //     } else {
        //         element[i].style.display = "none"; //Hide
        //     }
        // }
        
    }
</script>

<!--    name = models.CharField(max_length=200)
    yelpID =  models.CharField(max_length=25)
    imageURL = models.CharField(max_length=300)
    yelpURL = models.CharField(max_length=300)
    phone = models.CharField(max_length=15) 
    reviewCount = models.IntegerField()
    rating = models.DecimalField(max_digits=2, decimal_places=1)
    location = models.CharField(max_length=150) 
    price = models.CharField(max_length=4) -->

{% block body %}
    <div class="container-fluid text-body text-center px-0 ">
        <div class="card p-2" id="searchResultCard" >
            <div class="row">
                <div class="col-6 mr-2"> <!-- Filtering Side of the Card -->
                    <div class="row">
                        <div class="col-5"> <!-- Popularity -->
                            <form class="form-inline" name="filterFormGenre" action="" method="get">
                                <p class="text-center"> Venue Rating Minimum </p>
                                <select class="form-control btn-warning p-1" name="rating"> 
                                   <option>0</option>
                                   <option>1.0</option>
                                   <option>2.0</option>
                                   <option>3.0</option>
                                   <option>4.0</option>
                                   <input class="form-control btn-warning p-1 ml-1" type="submit" value="Apply">
                                </select>
                            </form>  
                        </div> <!-- End popularity -->
                        <div class="col-5"> <!-- Genre -->
                            <form class="form-inline" name="filterFormGenre" action="" method="get">
                                <p class="text-center"> Cost </p>
                                <select class="form-control btn-warning p-1" name="cost"> 
                                    <option>$</option>
                                    <option>$$</option>
                                    <option>$$$</option>
                                    <option>$$$$</option>
                                    <input class="form-control btn-warning p-1 ml-1" type="submit" value="Apply">
                                </select>
                            </form>
                        </div> <!-- End Genre -->
                        <div class="col-2">
                            <p style="color: white"> t </p>
                            <button class="btn-warning form-control" onclick="window.location.href ={% url 'webapp-venues' %}">Clear</button>
                        </div>
                    </div> <!-- End filtering row -->
                </div> <!-- End Filtering Side of card -->
                <div class ="col-6">
                    <!-- Sorting Options go here!!!!-->
                </div>
             </div>
         </div>
    </div>
    <div class="container-fluid">
        <h1 class="pt-5 pb-5 text-center font-weight-bold display-3">{{model_name}}</h1> <!-- Pass in model_name during context and it will display! -->

        <!-- Start of instance cards -->
        <div class="row mr-2 ml-2">
            {% for instance in venues %}
                <div class="col-sm-12 col-lg-4 col-md-4 col-4  mb-4">
                    <a href="{{instance.name}}">
                    <div class="card text-body">
                        <div class="card-header font-weight-bold display text-center">
                            <!-- Insert the link to the instance here? -->
                            {{ instance.name }}
                        </div>
                        <!-- Instance Image, still need to figure out how to handle this... -->
                        <img class="card-img" src="{{ instance.imageURL }}" style="height: 400px;" alt= {{ instance.imageLink }}>
                        <!-- At least 3 attributes -->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex align-items-start">
                                <span><b>Rating:  </b> {{ instance.rating }}</span>
                            </li>
                            <li class="list-group-item d-flex align-items-center">
                                <span><b>Location:  </b> 
                                        {{ instance.location }}
                                </span>
                            </li>
                            <li class="list-group-item d-flex align-items-center">
                                <span><b>Phone:</b> {{ instance.phone }}</span>
                            </li>
                        </ul>
                    </div> <!-- End of card -->
                    </a>
                </div> <!-- End of Col Div -->
            {% endfor %}
        </div> <!-- End of the row div -->
        <!-- END OF THE GRID -->

        <!-- Search, filter and pagination features go here -->
        <div class="card-footer text-muted mx-5">
            <!--<input class="form-control mb-3"  type="text" id="searchBar" onkeyup="search()" placeholder="Search for Instance">-->
        <!--<ul class="pagination justify-content-center>
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul> -->
            <div class="pagination justify-content-center">
                {% if venues.has_previous %}
                    <a class="page-link" href="?page=1">&laquo; first</a>
                    <a class="page-link" href="?page={{ venues.previous_page_number }}">previous</a>
                {% endif %}

                {% if venues.has_next %}
                    <a class="page-link" href="?page={{ venues.next_page_number }}">next</a>
                    <a class="page-link" href="?page={{ venues.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
                <br>
                <p class="current ml-5">
                       Page {{ venues.number }} of {{ venues.paginator.num_pages }}.
                </p>
            </div>
        </div>
    </div> <!--End of fluid container -->
{% endblock body %}