{% extends "webapp/navbar.html" %}
{% load static %}
<!-- This page now imports the navbar from the template... -->
{% block head %}
<style>
    #searchResultCard {
        background-color: rgba(0,0,0,0);
        border: none;
        width: 100%;
        background-color: white;
    }
</style>
{% endblock head %}


{% block body %}
    <div class="container-fluid text-body text-center px-0 ">
        <div class="card p-2" id="searchResultCard" >
            <div class="row">
                <div class="col-6 mr-2"> <!-- Filtering Side of the Card -->
                    <div class="row">
                        <div class="col-5"> <!-- Popularity -->
                            <form class="form-inline" name="filterFormGenre" action="" method="get">
                                <p class="text-center"> Popularity Minimum </p>
                                <select class="form-control btn-warning p-1" name="popularity"> 
                                   <option>0</option>
                                   <option>20</option>
                                   <option>40</option>
                                   <option>60</option>
                                   <option>80</option>
                                   <input class="form-control btn-warning p-1 ml-1" type="submit" value="Apply">
                                </select>
                            </form>  
                        </div> <!-- End popularity -->
                        <div class="col-5"> <!-- Genre -->
                            <form class="form-inline" name="filterFormGenre" action="" method="get">
                                <p class="text-center"> Genre </p>
                                <select class="form-control btn-warning p-1" name="genre"> 
                                    <option>All</option>
                                    <option>Rock</option>
                                    <option>Rap</option>
                                    <option>Pop</option>
                                    <option>Country</option>
                                    <option>Electronic</option>
                                    <option>Jazz</option>
                                    <input class="form-control btn-warning p-1 ml-1" type="submit" value="Apply">
                                </select>
                            </form>
                        </div> <!-- End Genre -->
                        <div class="col-2">
                            <p style="color: white"> t </p>
                            <button class="btn-warning form-control" onclick="window.location.href ={% url 'webapp-artists' %}">Clear</button>
                        </div>
                    </div> <!-- End filtering row -->
                </div> <!-- End Filtering Side of card -->
                <div class ="col-6">
                    <!-- Sorting Options go here!!!!-->
                </div>
             </div>
         </div>
     </div>
    <div class="container-fluid">
        <h1 class="pt-5 pb-5 text-center font-weight-bold display-3">{{model_name}}</h1> <!-- Pass in model_name during context and it will display! -->
        <!-- Start of instance cards -->
        <div class="row mr-2 ml-2">
            {% for instance in artists %}
                <div class="col-sm-12 col-lg-4 col-md-4 col-4  mb-4">
                    <a href="{{instance.name}}">
                    <div class="card text-body" href="#">
                        <div class="card-header font-weight-bold display text-center">
                            <!-- Insert the link to the instance here? -->
                            {{ instance.name }}
                        </div>
                        <!-- Instance Image, still need to figure out how to handle this... -->
                        <img class="card-img" style="height: 400px;" src="{{ instance.imageLink }}" alt= {{ instance.imageLink }}>
                        <!-- At least 3 attributes -->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex align-items-start">
                                <span><b>Popularity:  </b> {{ instance.popularity }}%</span>
                            </li>
                            <li class="list-group-item d-flex align-items-center">
                                <span><b>Top Track:  </b> 
                                        {{ instance.track1 }}
                                </span>
                            </li>
                            <li class="list-group-item d-flex align-items-center">
                                <span><b>Followers:</b> {{ instance.followers }}</span>
                            </li>
                        </ul>
                    </div> <!-- End of card -->
                </a>
                </div> <!-- End of Col Div -->
            {% endfor %}
        </div> <!-- End of the row div -->
        <!-- END OF THE GRID -->

        <!-- Pagination -->
        <div class="card-footer text-muted mx-5">
            <div class="pagination justify-content-center">
                    {% if artists.has_previous %}
                        <a class="page-link" href="?page=1">&laquo; first</a>
                        <a class="page-link" href="?page={{ artists.previous_page_number }}">previous</a>
                    {% endif %}


                    {% if artists.has_next %}
                        <a class="page-link" href="?page={{ artists.next_page_number }}">next</a>
                        <a class="page-link" href="?page={{ artists.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                    <br>
                    <p class="current ml-5">
                           Page {{ artists.number }} of {{ artists.paginator.num_pages }}.
                    </p>
            </div>
        </div> <!-- End of card footer -->
    </div> <!--End of fluid container -->
{% endblock body %}
