body {
	font-family: Verdana, Helvetica, sans-serif;
    /*color: #05386b; */
    color: white;

    background: linear-gradient(to bottom, #000000 80%, #454545 100%);
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background-attachment: fixed;
}

.navbar {
    background-color: white;
    opacity: 50%;
    border-radius: 0px;
}

.navbar-brand:hover {
    background-color: white;
    text-shadow: 0px 5px 20px black, 0px -5px 20px pink,
        5px 0px 20px black, -5px 0px 20px pink;
    color: black;
    cursor: pointer;
}

.carousel-inner {
    width: 75%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;    
}

.carousel-inner img {
    margin-left: auto;
    margin-right: auto;
}

/* For the artist pages */
.artist-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

/*
.artist-image img {
    width: auto;
    height: auto;
}*/


/* For about page */
.fa-github:hover{
    color: #d5d5d5;
}
.fa-python,
.fa-js,
.fa-code,
.fa-css3,
.fa-bold{
font-size:3em;
}

.fa-github:hover{
    color: #d5d5d5;
}/* End about page */